<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="dash.css">
    <title>Dashboard</title>
    <link rel="icon" href="doc-icon.png">

    <script src="tablescript.js"></script>
</head>
<body ng-app="User">
    <div class="container-fluid" ng-controller="UserController">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="collapse_target">

            <a class="navbar-brand" href="Homepage.html"><img class="logoimg" src="logo.gif"></a>
            <span class="navbar-text">Welcome to Document Management System</span>
            
            <ul class="navbar-nav ml-auto">
                <div class="btn btn-group btn-success">
                
                <li class=" nav-item dropdown">
                    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                      My Profile
                    </a>
                    <div class="dropdown-menu bg-success">
                      <a class="dropdown-item bg-success" href="dashboard.html">Dashboard</a>
                      <a class="dropdown-item bg-success" href="register.html">Register</a>
                      <a class="dropdown-item bg-success" href="Login.html">Logout</a>
                      
                    </div>
                </li>
            </div>
            </ul>
            </div>
        </nav>
        <div class="jumbotron" style="margin-bottom:0px;">
            <h2 class="text-center">DASHBOARD</h2>
            
            <div class="table-responsive">

                <table class="table">
                    <thead class="black white-text">
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Password</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
        
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in user">
                            <td>{{ user.firstName }}  
                            </td>  
                            <td>{{ user.lastName }}  
                            </td>  
                            <td>{{ user.mobile }}  
                            </td>
                            <td>{{ user.email }}  
                            </td>
                            <td>{{ user.password }}  
                            </td>
                            <td>{{ user.dob }}  
                            </td>
                            <td>{{ user.gender }}  
                            </td>
                            <td>  
                                <button ng-click="deleteUser(user)"><i class="fa fa-trash-o" style="font-size:24px"></i></button>  
                            </td>  
                        </tr>  
                    </tbody>
                </table>    
                <div>Total User : {{count}}</div>  
                
            </div>
        </div>

    </div> 

</body>
</html>