.jumbotron{
    background-color: rgb(243, 243, 243);
}
.logoimg{
    height: 30px;
    width: 60px;
}

.nav-item {
    margin: 5px;
}

.container-fluid {
    padding: 0;
}
.navbar-dark .navbar-nav .nav-link {
    
    color: #fff;
    
}
