body{
    background-color: rgb(208, 227, 240);
    font-family: Poppins;
}
 .row{
    /* margin-right: 10px;
    margin-left: 10px; */
    margin-top: 10%; 
} 
.container-fluid {
    padding: 0;
}
.form-body{
    background-color: rgb(243, 248, 250);
    box-shadow: 2px 2px 15px 7px rgb(189, 191, 192);
}

.form-header{
    margin:10% 0;
}

.form-group {
    margin:10% 0;
}

.login-btn{
    margin:10% 0;
}

.error-msg{
    color: red;
}

.logoimg{
    height: 50px;
    width: 50px;
}


.nav-item {
    margin: 5px;
}

.navbar-text{
   
    font-size: 20px;
    
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(46, 59, 87);
}