body {
    background-color: rgb(208, 227, 240);

}
.row{
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px; 
}
.container-fluid {
    padding: 0;
}

label {
    font-weight: 600;
}

.form-body {
    background-color: rgb(243, 248, 250);
    padding: 0 5%;
    box-shadow: 2px 2px 15px 7px rgb(189, 191, 192);
}

.register-btn {
    margin: 7% 0;
}

.logoimg{
    height: 30px;
    width: 60px;
}

.nav-item {
    margin: 5px;
}

.error-msg {
    color : red;
}
.navbar-dark .navbar-nav .nav-link {
    
    color: #fff;
    
}
