body {
    background-color: rgb(186, 212, 221);

}
.container-fluid {
    padding: 0;
}

label {
    font-weight: 600;
}

.error {
    color: red;
    font-weight: 600;
}

.form-body {
    background-color: rgb(122, 168, 184);
    padding: 0 5%;
    box-shadow: 2px 2px 15px 7px rgb(59, 117, 136);
}

.form-group {
    padding: 5px 0;
}


.register-btn {
    margin: 7% 0;
}

.logoimg{
    height: 30px;
    width: 60px;
}

.nav-item {
    margin: 5px;
}