body{
    background-color: rgb(186, 212, 221);
}
.form-body{
    margin:10% 0;
    background-color: rgb(122, 168, 184);
    width: 50%;
    box-shadow: 2px 2px 15px 7px rgb(59, 117, 136);
}

.form-header{
    margin:12% 0;
}

.form-group {
    margin:10% 0;
}

.login-btn{
    margin:12% 0;
}

.error{
    color: red;
    font-weight: 600;
}