body{
    background-color: rgb(186, 212, 221);
}

.container-fluid {
    padding: 0;
}
.form-body{
    margin:10% 0;
    background-color: rgb(122, 168, 184);
    box-shadow: 2px 2px 15px 7px rgb(59, 117, 136);
}

.form-header{
    margin:12% 0;
}

.form-group {
    margin:10% 0;
}

.login-btn{
    margin:12% 0;
}

.error{
    color: red;
    font-weight: 600;
}

.logoimg{
    height: 30px;
    width: 60px;
}

.nav-item {
    margin: 5px;
}
.navbar-dark .navbar-nav .nav-link {
    
    color: #fff;
    
}
